<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://localhost:3000/js/client.js"></script>
    
    
    <title><%= title %></title>
</head>
<body>
    
    

<table border="1" width="650">
    <tr><td>글 제목</td><td><input id="board_title" placeholder="제목을 입력하세요"></td></tr>
    <tr><td>글 내용</td><td><textarea id="board_content" placeholder="내용을 입력하세요" rows="10" cols="40"></textarea></td></tr>
    
</table>

<button id="board_write_btn">등록</button>
<button type="reset">취소</button>
<br><br>
    

<!-- <table border="1" width="650">
    <tr><th>글 제목</th><td><input id="board_title" placeholder="제목을 입력하세요"></td></tr>
    <tr><td>글 내용</td><td><textarea id="board_content" placeholder="내용을 입력하세요" rows="10" cols="40"></textarea></td></tr>
    
</table> -->

</body>
</html>